body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
.App {
	display: flex;
	margin-top: 2rem;
}
button {
	font-size: 1.2rem;
	width: 33.33%;
	padding-block: 0.7rem;
	transition: all 0.5s;
}
button:hover,
button:active {
	background-color: black;
	color: white;
}
